/* hide horizontal scrollbars, since we use the vertical ones to scroll to the right */
body
{
    overflow-x: hidden;
}

/**
  * important: keep position fixed, you can however use top:0 instead of bottom:0
  * if you want to make it stick to the top of the browser
  */
.scroll
{
    position: fixed;
    bottom: 0;
    left: 0;
}

html,
body
{
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    background-color: #EADCFF;
}
h1, h2{
    font-family: 'Shadows Into Light', cursive;

}
h1{
    font-size: 80px;
    float: left;
    

}

h2,
h3
{
    color: #A66641;
}

h3
{
    margin: 10px 0;
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
}

a
{
    color: #238acb;
    font-family: 'DM Sans', sans-serif;
}

a img
{
    border: none;
}

br, p {
    font-family: 'DM Sans', sans-serif;
}

pre
{
    font-size: 14px;
    color: white;
    padding: 10px;
    background: #646464;
}


text {
  font-family: 'Shadows Into Light', cursive;
  position: absolute;
}

.soup-bowl{
   margin-left: 200px;
}
.hide {
    display: none;
}

.mushroom{
    left: 1700px;
    top: 22px;
    position: absolute;
    
}
.mushroom-first{
    left: 1680px;
    top: 10px;
    position: absolute;
}
.mushroom-third{
    left: 1680px;
    top: 15px;
    position: absolute;
}

.onion{
    left: 1750px;
    top: 250px;
    position: absolute;

}

.header
{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    overflow: hidden;
    background: #3E400B;
    z-index: 1000;
}

.header .logo
{
    float: left;
    padding: 22px;
    padding-left: 30px;
}

.header .credits
{
display: none;
}

.horizon
{
    line-height: 0;
    z-index: 100;
    width: 3000px;
}

.middle
{
    z-index: 250;
    line-height: 0;
    width: 4500px;
}

.front
{
    z-index: 500;
    top: 150px;
    width: 12000px;
}

.intro
{
    position: absolute;
    left: 100px;
    top: 0px;
    padding-right: 50px;
    color: #3E400B;
   
}

.page
{
    top: 0px;
    width: 500px;
    background: white;
    padding: 10px 30px;
    border: 1px #eee solid;
    border-radius: 12%;
    position: absolute;
}

.description
{
    left: 1400px;
    max-width: 200px;
}

.documentation
{
    left: 2450px;
    width: 700px;
}

.options
{
    width: 700px;
    left: 3800px;
}

.download
{
    width: 500px;
    left: 5100px;
}
.foo
{
    width: 500px;
    left: 6400px;
}

.license
{
    padding: 100px 30px 30px 30px;
}